@import url("https://cdn.rawgit.com/lonekorean/gist-syntax-themes/b737b139/stylesheets/terminal.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  flex-flow: column nowrap;
}

code {
  background-color: #e5e5e5;
  color: initial;
  padding: 0;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
}

iframe {
  margin-bottom: 10px;
}

.container {
  width: -webkit-fill-available;
  padding: 20px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  /* flex-flow: column nowrap;
  align-items: flex-start; */
}

ul {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style-position: inside;
}

.bio {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  gap: 11px;
  width: fit-content;
  padding: 20px 20px 0 20px;
}

.bio .bio-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.bio img.pfp {
  width: 150px;
  border-radius: 999px;
  cursor: pointer;
  /* filter: grayscale(1); */
}

.bio a {
  color: #000;
}

.bio h1 {
  margin: 0;
  font-size: 27px;
  font-weight: normal;
}

.bio h2 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

.bio h3 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.post {
  padding: 10px;
  text-align: justify;
  hyphens: auto;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.post .timestamp {
  width: 100%;
  text-align: right;
  opacity: 0.7;
  margin-top: 20px;
  font-family: system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  background-color: #00000050;
}

.post h2 {
  font-size: 24px;
}

.post p {
  font-size: 1rem;
  line-height: 1.6;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.post img {
  max-width: -webkit-fill-available;
  align-self: center;
  margin: 10px 0;
}

.katex-display {
  overflow-x: auto;
  padding-bottom: 0.4em;
}

.gist-meta {
  display: none !important;
}

.bio .brightness-btn {
  cursor: pointer;
  font-size: 1.3rem;
  filter: grayscale(1);
}

/* DARK MODE */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

code.dark-mode {
  background-color: #272727;
  color: #fff;
}

.bio a.dark-mode {
  color: #fff;
}

.post .timestamp.dark-mode {
  background-color: #ffffff50;
}

.bio img.pfp.dark-mode {
  filter: invert(1);
}

/* @media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 10px;
    padding-bottom: 10px;
  }

  .post {
    padding: 10px 20px;
    border-radius: 5px;
    width: 83%;
  }
} */

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    padding: 0;
  }

  .post {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
  }

  .bio {
    flex-flow: column nowrap;
    width: 100%;
  }

  .bio h1 {
    font-size: 25px;
    margin: auto;
  }

  .bio h2 {
    font-size: 15px;
  }

  .bio h3 {
    margin: auto;
  }

  .bio .brightness-btn {
    align-self: center;
  }

  .column:nth-child(2),
  .column:nth-child(3) {
    display: none;
  }

  .initial-snow > * {
    font-size: 20px;
  }

  .initial-snow > * {
    font-size: 20px;
  }
}
