@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");
@import url("https://cdn.rawgit.com/lonekorean/gist-syntax-themes/b737b139/stylesheets/terminal.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #111111;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
}

code {
  background-color: #333;
  color: #f8f8f2;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
}

.container {
  width: -webkit-fill-available;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.bio {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 30px auto;
  gap: 11px;
  width: fit-content;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.bio .bio-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.bio img {
  width: 150px;
  border-radius: 999px;
  border: 2px solid #000000;
  cursor: pointer;
  filter: grayscale(1);
}

.bio h1 {
  margin: 0;
  font-size: 27px;
  font-weight: normal;
}

.bio h2 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

.bio h3 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.bio h3 a {
  text-decoration: none;
  color: white;
}

.post {
  margin-bottom: 40px;
  background-color: #1f2328;
  color: #efefef;
  border-radius: 11px;
  padding: 20px 30px;
  text-align: justify;
  hyphens: auto;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.post h2 {
  font-size: 24px;
}

.post p {
  font-size: 1rem;
  line-height: 1.6;
  display: block;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.post img {
  max-width: -webkit-fill-available;
  align-self: center;
}

.katex-display {
  overflow-x: auto;
  padding-bottom: 0.4em;
}

.gist-meta {
  display: none !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 10px;
    padding-bottom: 10px;
  }

  .post {
    padding: 10px 20px;
    border-radius: 5px;
    width: 83%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
    padding-bottom: 10px;
  }

  .post {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
  }

  .bio {
    flex-flow: column nowrap;
  }

  .bio h1 {
    font-size: 25px;
    margin: auto;
  }

  .bio h2 {
    font-size: 15px;
  }

  .bio h3 {
    margin: auto;
  }

  .bio img {
    width: 150px;
  }

  .initial-snow > * {
    font-size: 20px;
  }
}
